In [1]:
# 데이터 분석을 위한 라이브러리 불러오기
import pandas as pd
import numpy as np

In [2]:
# 만약 설치되어 있지 않다면, 주석을 풀고 설치해 주세요. 
# 주석을 푸는 방법은 아래 코드의 맨 앞에 있는 #을 지워주시면 됩니다.
# !pip install -U finance-datareader
# 또는 anaconda prompt창에서 ! 없이 pip install -U finance-datareader 실행
# 데이터를 읽어올 FinanceDataReader 라이브러리 불러오기
import FinanceDataReader as fdr

* KRX : KRX 종목 전체
* KOSPI : KOSPI 종목

* KOSDAQ : KOSDAQ 종목
* KONEX : KONEX 종목
* NASDAQ : 나스닥 종목
* NYSE : 뉴욕증권거래소 종목
* SP500 : S&P500 종목

### NASDAQ 나스닥 상장 종목 불러오기

In [9]:
df_nas = fdr.StockListing("NASDAQ") # 데이터를 불러와서 df_nas 객체에 담아준다.

100%|█████████████████████████████████████████████████████████████████████████████| 4006/4006 [00:06<00:00, 650.12it/s]

In [10]:
df_nas.head()

  Symbol                  Name        Industry IndustryCode
0   AAPL             Apple Inc  컴퓨터, 전화 및 가전제품       571060
1   MSFT        Microsoft Corp   소프트웨어 및 IT서비스       572010
2   AMZN        Amazon.com Inc         다양한 소매업       534020
3     FB  Facebook Inc Class A   소프트웨어 및 IT서비스       572010
4  GOOGL  Alphabet Inc Class A   소프트웨어 및 IT서비스       572010

In [11]:
df_nas.shape

(4006, 4)

In [12]:
df_nas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4006 entries, 0 to 4005
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Symbol        4006 non-null   object
 1   Name          4006 non-null   object
 2   Industry      4001 non-null   object
 3   IndustryCode  4001 non-null   object
dtypes: object(4)
memory usage: 125.3+ KB

In [13]:
df_nas.describe()

       Symbol                             Name Industry IndustryCode
count    4006                             4006     4001         4001
unique   4006                             3905       57           57
top      ZNGA  New York Mortgage Trust Inc PRF   기타 금융업       556010
freq        1                                5      730          730

In [16]:
# to_csv로 Dataframe을 csv파일로 저장
import datetime

today = datetime.datetime.today().strftime("%Y-%m-%d")
filename = today+"_NASDAQ.csv"
df_nas.to_csv()

'2021-08-03'