In [1]:
# 데이터 분석 및 시각화를 위한 라이브러리 불러오기
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# 데이터를 읽어올 FinanceDataReader 라이브러리 불러오기
import FinanceDataReader as fdr

In [7]:
df_krx = fdr.StockListing("KRX") # 데이터를 불러와서 df_krx 객체에 담아준다.
df_krx

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
7180,000547,KOSPI,흥국화재2우B,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7181,000545,KOSPI,흥국화재우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7182,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
7183,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호 (각자대표)",http://www.heerim.com,서울특별시
7184,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [8]:
df_krx.shape

(7185, 10)

In [9]:
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7185 entries, 0 to 7184
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          7185 non-null   object
 1   Market          7185 non-null   object
 2   Name            7185 non-null   object
 3   Sector          2449 non-null   object
 4   Industry        2430 non-null   object
 5   ListingDate     2449 non-null   datetime64[ns]
 6   SettleMonth     2449 non-null   object
 7   Representative  2449 non-null   object
 8   HomePage        2268 non-null   object
 9   Region          2449 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 617.5+ KB

In [10]:
df_krx.describe()

<ipython-input-10-8453f2ac474b>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_krx.describe()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,7185,7185,7185,2449,2430,2449,2449,2449,2268,2449
unique,7185,3,7185,160,2274,1809,9,2326,2247,22
top,52GA28,KOSPI,미래GB87엘지디스콜,특수 목적용 기계 제조업,기업인수합병,1976-06-30 00:00:00,12월,-,http://www.ubiquoss.com,서울특별시
freq,1,5523,1,142,37,8,2389,5,2,989
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2021-07-28 00:00:00,NaN,NaN,NaN,NaN

In [38]:
import datetime

today = datetime.datetime.today().strftime("%y%m%d")
filename = today+"_KRX.csv"
df_krx.to_csv(filename, index=False)

In [39]:
import os

os.listdir(os.getcwd())

['.git',
 '.ipynb_checkpoints',
 '0803_FinanceDataReader.ipynb',
 '0804_FinanceDataReader.ipynb',
 '210803_NASDAQ.csv',
 '210804_KRX.csv',
 '210804_NASDAQ.csv',
 'README.md']

### '210804_KRX.CSV' 파일 불러오기

In [40]:
from os.path import join # 상대경로로 windows에서 사용하면 좋음.

In [44]:
data_path = os.path.join(os.getcwd(), today+'_KRX.csv')
df = pd.read_csv(data_path, dtype={"Symbol":object})

In [45]:
df.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7185 entries, 0 to 7184
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          7185 non-null   object
 1   Market          7185 non-null   object
 2   Name            7185 non-null   object
 3   Sector          2449 non-null   object
 4   Industry        2430 non-null   object
 5   ListingDate     2449 non-null   object
 6   SettleMonth     2449 non-null   object
 7   Representative  2449 non-null   object
 8   HomePage        2268 non-null   object
 9   Region          2449 non-null   object
dtypes: object(10)
memory usage: 561.5+ KB

In [49]:
df.columns

Index(['Symbol', 'Market', 'Name', 'Sector', 'Industry', 'ListingDate',
       'SettleMonth', 'Representative', 'HomePage', 'Region'],
      dtype='object')

In [50]:
df.values

array([['060310', 'KOSDAQ', '3S', ..., '박종익, 김세완 (각자 대표이사)',
        'http://www.3sref.com', '서울특별시'],
       ['095570', 'KOSPI', 'AJ네트웍스', ..., '박대현',
        'http://www.ajnet.co.kr', '서울특별시'],
       ['006840', 'KOSPI', 'AK홀딩스', ..., '채형석, 이석주(각자 대표이사)',
        'http://www.aekyunggroup.co.kr', '서울특별시'],
       ...,
       ['003280', 'KOSPI', '흥아해운', ..., '이환구', 'http://www.heung-a.com',
        '서울특별시'],
       ['037440', 'KOSDAQ', '희림', ..., '정영균, 이목운, 허철호 (각자대표)',
        'http://www.heerim.com', '서울특별시'],
       ['238490', 'KOSDAQ', '힘스', ..., '김주환', 'http://www.hims.co.kr',
        '인천광역시']], dtype=object)

### Series

In [52]:
df["Name"]

0            3S
1        AJ네트웍스
2         AK홀딩스
3        APS홀딩스
4         AP시스템
         ...
7180    흥국화재2우B
7181      흥국화재우
7182       흥아해운
7183         희림
7184         힘스
Name: Name, Length: 7185, dtype: object

In [53]:
type(df["Name"])

pandas.core.series.Series

In [54]:
# 0번째 행만 가져옴. 행인덱스를 가져올때는 .loc를 사용.
# loc는 위치(locate)
df.loc[3]

Symbol                                  054620
Market                                  KOSDAQ
Name                                    APS홀딩스
Sector                                  기타 금융업
Industry                           인터넷 트래픽 솔루션
ListingDate                         2001-12-04
SettleMonth                                12월
Representative                             정기로
HomePage          http://www.apsholdings.co.kr
Region                                     경기도
Name: 3, dtype: object

In [55]:
type(df.loc[3])

pandas.core.series.Series

### DataFrame

In [56]:
type(df)

pandas.core.frame.DataFrame

In [57]:
# 여러 컬럼을 지정할 때는 리스트 형태로 묶어주어야 함. 
# DataFrame은 2차원 행렬로 대괄호가 [] 2개가 필요.
df[["Symbol","Name"]]

      Symbol     Name
0     060310       3S
1     095570   AJ네트웍스
2     006840    AK홀딩스
3     054620   APS홀딩스
4     265520    AP시스템
...      ...      ...
7180  000547  흥국화재2우B
7181  000545    흥국화재우
7182  003280     흥아해운
7183  037440       희림
7184  238490       힘스

[7185 rows x 2 columns]

In [58]:
df.loc[[1,3,5]]

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
5,211270,KOSDAQ,AP위성,통신 및 방송 장비 제조업,위성통신 단말기,2016-03-04,12월,류장수,http://www.apsi.co.kr,서울특별시

In [59]:
# 1개의 컬럼을 가져올 때도 대괄호[] 2개를 써서 리스트 형태로 묶어주게 되면 데이터프레임 형태로 반환
# "Name" 을 데이터프레임으로 가져옴.
df[["Name"]]

         Name
0          3S
1      AJ네트웍스
2       AK홀딩스
3      APS홀딩스
4       AP시스템
...       ...
7180  흥국화재2우B
7181    흥국화재우
7182     흥아해운
7183       희림
7184       힘스

[7185 rows x 1 columns]

In [60]:
type(df[["Name"]])

pandas.core.frame.DataFrame

### %timeit을 사용한 타임 프로파일링

In [61]:
%timeit df.loc[2,"Name"] # 데이터프레임에 한번에 접근해서 데이터를 가져옴

7.62 µs ± 811 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [62]:
%timeit df.loc[2]["Name"] # 행과 열을 따로따로 접근해서 데이터를 가져옴

74.1 µs ± 2.16 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [63]:
type(df.loc[[0,1,2],"Name"]) # 행 여러개 + 열 1개는 Series

pandas.core.series.Series

In [64]:
type(df.loc[[0,1,2],["Name","Symbol"]]) # 행 여러개 + 열 여러개는 DataFrame

pandas.core.frame.DataFrame

In [66]:
type(df.loc[[0],["Name","Symbol"]]) # 행 1개 + 열 여러개는 DataFrame

pandas.core.frame.DataFrame

### Boolean Indexing

In [69]:
# 'NAVER' 인덱싱
# df[df["Name"] == 'NAVER']
df[df.loc[:, "Name"] == "NAVER"]

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1522,035420,KOSPI,NAVER,"자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업",포털 서비스 및 온라인 광고,2008-11-28,12월,한성숙,http://www.navercorp.com,경기도

In [70]:
df["Region"].unique()

array(['서울특별시', '경기도', nan, '부산광역시', '인천광역시', '경상북도', '대구광역시', '전라남도',
       '충청남도', '홍콩', '경상남도', '전라북도', '일본', '울산광역시', '대전광역시', '충청북도',
       '강원도', '케이맨 제도', '광주광역시', '세종특별자치시', '미국', '제주특별자치도', '싱가포르'],
      dtype=object)

In [77]:
# 충청남도에 소재지를 두고 있는 KOSDAQ 종목의 종목명과 심볼을 가져옵니다.

# df.loc[(df["Region"]=="충청남도")&(df["Market"] == "KOSDAQ"), ["Symbol","Name"]]

chungnam = df["Region"] == "충청남도"
kosdaq = df["Market"] == "KOSDAQ"
df.loc[(chungnam & kosdaq), ["Symbol","Name"]]

      Symbol     Name
93    037370       EG
140   297890    HB솔루션
141   078150  HB테크놀러지
1255  024120   KB오토시스
1264  036670      KCI
...      ...      ...
7035  007770     한일화학
7096  016790     현대사료
7149  097870    효성오앤비
7160  090710     휴림로봇
7176  010240       흥국

[68 rows x 2 columns]