In [1]:
# 데이터 분석 및 시각화를 위한 라이브러리 불러오기
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# 데이터를 읽어올 FinanceDataReader 라이브러리 불러오기
import FinanceDataReader as fdr

In [7]:
df_krx = fdr.StockListing("KRX") # 데이터를 불러와서 df_krx 객체에 담아준다.
df_krx

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
7180,000547,KOSPI,흥국화재2우B,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7181,000545,KOSPI,흥국화재우,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7182,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
7183,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호 (각자대표)",http://www.heerim.com,서울특별시
7184,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [8]:
df_krx.shape

(7185, 10)

In [9]:
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7185 entries, 0 to 7184
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          7185 non-null   object
 1   Market          7185 non-null   object
 2   Name            7185 non-null   object
 3   Sector          2449 non-null   object
 4   Industry        2430 non-null   object
 5   ListingDate     2449 non-null   datetime64[ns]
 6   SettleMonth     2449 non-null   object
 7   Representative  2449 non-null   object
 8   HomePage        2268 non-null   object
 9   Region          2449 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 617.5+ KB

In [10]:
df_krx.describe()

<ipython-input-10-8453f2ac474b>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_krx.describe()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,7185,7185,7185,2449,2430,2449,2449,2449,2268,2449
unique,7185,3,7185,160,2274,1809,9,2326,2247,22
top,52GA28,KOSPI,미래GB87엘지디스콜,특수 목적용 기계 제조업,기업인수합병,1976-06-30 00:00:00,12월,-,http://www.ubiquoss.com,서울특별시
freq,1,5523,1,142,37,8,2389,5,2,989
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2021-07-28 00:00:00,NaN,NaN,NaN,NaN

In [38]:
import datetime

today = datetime.datetime.today().strftime("%y%m%d")
filename = today+"_KRX.csv"
df_krx.to_csv(filename, index=False)

In [39]:
import os

os.listdir(os.getcwd())

['.git',
 '.ipynb_checkpoints',
 '0803_FinanceDataReader.ipynb',
 '0804_FinanceDataReader.ipynb',
 '210803_NASDAQ.csv',
 '210804_KRX.csv',
 '210804_NASDAQ.csv',
 'README.md']

### '210804_KRX.CSV' 파일 불러오기

In [40]:
from os.path import join # 상대경로로 windows에서 사용하면 좋음.

In [44]:
data_path = os.path.join(os.getcwd(), today+'_KRX.csv')
df = pd.read_csv(data_path, dtype={"Symbol":object})

In [45]:
df.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,박대현,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7185 entries, 0 to 7184
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          7185 non-null   object
 1   Market          7185 non-null   object
 2   Name            7185 non-null   object
 3   Sector          2449 non-null   object
 4   Industry        2430 non-null   object
 5   ListingDate     2449 non-null   object
 6   SettleMonth     2449 non-null   object
 7   Representative  2449 non-null   object
 8   HomePage        2268 non-null   object
 9   Region          2449 non-null   object
dtypes: object(10)
memory usage: 561.5+ KB

In [49]:
df.columns

Index(['Symbol', 'Market', 'Name', 'Sector', 'Industry', 'ListingDate',
       'SettleMonth', 'Representative', 'HomePage', 'Region'],
      dtype='object')

In [50]:
df.values

array([['060310', 'KOSDAQ', '3S', ..., '박종익, 김세완 (각자 대표이사)',
        'http://www.3sref.com', '서울특별시'],
       ['095570', 'KOSPI', 'AJ네트웍스', ..., '박대현',
        'http://www.ajnet.co.kr', '서울특별시'],
       ['006840', 'KOSPI', 'AK홀딩스', ..., '채형석, 이석주(각자 대표이사)',
        'http://www.aekyunggroup.co.kr', '서울특별시'],
       ...,
       ['003280', 'KOSPI', '흥아해운', ..., '이환구', 'http://www.heung-a.com',
        '서울특별시'],
       ['037440', 'KOSDAQ', '희림', ..., '정영균, 이목운, 허철호 (각자대표)',
        'http://www.heerim.com', '서울특별시'],
       ['238490', 'KOSDAQ', '힘스', ..., '김주환', 'http://www.hims.co.kr',
        '인천광역시']], dtype=object)